body {
  background-color: #F8F9FA; /* Light Gray */
  margin: 20px 40px;
}

h1 {
  font-size: 40px;
  font-family: 'Arial', sans-serif;
  text-align: center;
  font-weight: bolder;
  font-variant: small-caps;
  color: #343A40; /* Dark Gray */
  text-decoration: underline;
}

#allTables p, #title {
  font-size: 25px;
  font-variant: small-caps;
  color: #007BFF; /* Bright Blue */
  font-weight: bold;
  font-family: 'Arial', sans-serif;
}

p, #allTables h2, #makeResourceRequest h2 {
  font-size: 20px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: #6C757D; /* Gray */
}

table {
  border: 2px solid #6C757D; /* Gray */
  align-self: center;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 25px;
  font-weight: bold;
  vertical-align: middle;
  border-collapse: collapse;
}

tr:nth-child(odd) {
  background-color: #E9ECEF; /* Light Gray */
}

tr:nth-child(even) {
  background-color: #F1F3F5; /* Very Light Gray */
}

tr {
  background-color: #FFDDC1; /* Light Peach */
  color: #495057; /* Darker Gray */
  padding: 10px;
  text-align: center;
  border: 2px solid #6C757D; /* Gray */
}

td {
  height: 30px;
  padding: 10px;
  text-align: center;
  border: 2px solid #6C757D; /* Gray */
}

input[type='text'] {
  height: 30px;
  width: 50px;
  padding: 5px;
  margin: 5px auto;
  border-radius: 5px;
  border: 3px solid #FF6F61; /* Coral */
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
}

#inputs {
  vertical-align: top;
  display: inline-block;
  width: 900px;
  height: 120px;
}

#buttons {
  display: inline-block;
  width: 500px;
  height: 120px;
  text-align: center;
  position: fixed;
}

#allTables {
  margin-top: 50px;
}

input[type='button'] {
  font-variant: small-caps;
  height: 50px;
  padding: 10px 50px;
  margin: 10px auto;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Arial', sans-serif;
  background-color: #007BFF; /* Bright Blue */
  color: white; /* White text for contrast */
  cursor: pointer;
}

hr {
  border: 2px solid #28A745; /* Green */
}
